*.class

# Package Files #
*.war
*.ear

target/
logs/

# pay no attention to properties files except the example versions
hibernate*.cfg.xml
log4j2*.xml
!hibernate.example.cfg.xml
!log4j2.example.xml

