<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2013 Jarett Creason
  ~
  ~ This file is part of BrewNinja.
  ~
  ~ BrewNinja is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ BrewNinja is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with BrewNinja in the file named COPYING in the root directory.
  ~ If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration status="WARN">

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>

		<RollingFile name="MyFileAppender"
								 fileName="logs/app.log"
								 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<pattern>%d %p %C{1.} [%t] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy/>
				<TimeBasedTriggeringPolicy interval="6" modulate="true"/>
				<SizeBasedTriggeringPolicy size="250 MB"/>
			</Policies>
		</RollingFile>
	</appenders>

	<loggers>
		<logger name="org.hibernate" level="error">
			<appender-ref ref="Console"/>
		</logger>

		<root level="Trace">
			<appender-ref ref="Console"/>
		</root>
	</loggers>

</configuration>